div#img-producto {
    max-width: 500px;
    margin-left: 0;
    margin-top: 5%;
}
@media (min-width:772px){
    div#img-producto {
        margin-left: 10%;
        margin-top: 0;
    }
    .pad-left-block{
        padding-left: 5%;
    }
}